body {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    background-image: url(../img/Clans.png);
}

.corpo {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 500px;
    border-radius: 20px;
}

h1{
    font-family: "Ananda Personal Use" !important;
}

#botao-criar {
    width: 400px;
    margin-top: 20px;
    border-radius: 20px;
    height: 30px;
    color:white;
    background: gold;
    margin-left: 25px;
}

#botao-criar:hover {
    background-image: linear-gradient(#9c6127, #d6c41f);
}

.form input {
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 25px;
    width: 450px;
}
.form input:hover {
    background: gold;
}
select {
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 35px;
    width: 455px;
}

select:hover {
    background: gold;
}